extends layout

block content
	.container
		form(method="post" action="contact/send")
			h1 Do the email thing

		.form-group
			label(for="name") Name:
			input(type="text", name="name", placeholder="name").form-control
		.form-group
			label(for="email") Email:
			input(type="emauil", name="email", placeholder="enter email").form-control
		.form-group
			label(for="email text") Message:
			textarea(placeholder="What is your message?" columns="3").form-control
		button.btn.btn-success(type="submit") send me your shit