extends layout

block content
	.container.main-content
		.jumbotron
			.container
				h1 How May I Help You?
				p Email us for more info!
				a.btn.btn-primary.btn-lg(href='/email') Learn More &raquo;
		.row
			.col-md-4
				h2 About Us
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. 
				a.btn.btn-default(href='/about') View Details
			.col-md-4
				h2 Services
				p See our list of services, and find out how we can help become the best, most healthy person you can be!
				a.btn.btn-default(href='/services') View Services
			.col-md-4
				h2 In Touch
				p Stay in touch with us, and sign up to recieve our newsletter to keep up with whats going on with us!
				a.btn.btn-default(href='/email') Get In Touch
