extends layout

block content
    .container
        h1 Our Services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit erat ante, vitae convallis nulla molestie nec. Vestibulum lacinia sapien congue ipsum pharetra aliquam. Suspendisse potenti. Quisque eget cursus sem. Curabitur arcu sapien, condimentum non leo congue, suscipit hendrerit eros. Etiam nec augue vehicula, sagittis mauris sit amet, suscipit risus. In commodo nisi ac cursus luctus. Donec at ultricies enim.
        ul
            li consectetur adipiscing elit.
            li consectetur adipiscing elit.
            li consectetur adipiscing elit.
        p Pellentesque ac odio ante. Maecenas vestibulum justo lacus. Suspendisse felis mauris, tristique vitae magna nec, dictum posuere libero. Integer tincidunt turpis eget ullamcorper vestibulum. Ut iaculis fermentum dui, non lacinia quam ornare vel. Cras mattis tristique erat id rhoncus. Proin in libero risus.